<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App |<%= @title %> </title>
</head>

<body>
<h1>Help Page</h1>
<p>
This is the help section 
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
for the sample application.
</p>
</body>
</html>



